# Ambiente virtual
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log

# Variáveis de ambiente
.env
.env.*

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/

# Temporários
*.swp
*.swo
*.bak

# Documentos do projeto
DOC_PROJETO.odt
SIMoTI - Escrita.odt